<div class="parallax-container">
    <div class="parallax"><img src="assets/images/planning.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">{{'planning' | translate}}</h2>
        <p class="grey-text text-darken-3 lighten-3">{{'planning_description' | translate}}</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/construction.jpg"></div>
</div>

<div class="section white">
    <div class="row container">
        <h2 class="header">{{'construction' | translate}}</h2>
        <p class="grey-text text-darken-3 lighten-3">{{'construction_description' | translate}}</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/flooring.jpg"></div>
</div>

<div class="section white">
    <div class="row container">
        <h2 class="header">{{'floorings' | translate}}</h2>
        <p class="grey-text text-darken-3 lighten-3">{{'floorings_description' | translate}}</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="assets/images/teamwork.jpg"></div>
</div>

