$dark-blue-x2: #263b4a !default;
$dark-blue: #466278 !default;
$medium-blue: #547b91 !default;

$lightest-blue: #d4e7fa !default;
$light-blue: #76c0de !default;
$light-blue-hover: #67b1cf !default;
$light-blue-active: #58a2bf !default;

$white: #ffffff;
$black: #000000;

$gray: #ccc;
$dark-gray: #969596;
