.pagination {
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    li {
        display: inline;
        float: left;
        padding: 10px 12px;
        margin-left: -1px;
        color: $dark-blue;
        background-color: $white;
        border: 1px solid $dark-gray;
        &:hover, &.active {
            color: $dark-blue-x2;
            background-color: $gray;
            border-color: $dark-gray;
        }
    }
}
