div {
    .extra-text {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        padding-left: 2%;
    }

    .contact-form-wrapper {
        display: inline-block;
        width: 50%;
        margin-left: 8%;
        vertical-align: top;
    }

    .description {
        padding-left: 40px;
    }

    .submit-btn {
        margin-left: 50px;
    }
}