<div>
    <div class="row">
        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-fixed-item center">
                <a class="btn waves-effect white grey-text darken-text-2">button</a>
            </div>
            <div class="carousel-item red white-text" href="#one!" [ngStyle]="{'background-image': 'url(assets/images/sample-1.jpg)'}">
                <h2>Areas of activity</h2>
                <p class="white-text">Check areas of activity</p>
            </div>
            <div class="carousel-item amber white-text" href="#two!" [ngStyle]="{'background-image': 'url(assets/images/sample-2.jpg)'}">
                <h2>Contact us</h2>
                <p class="white-text">Write us if you need something</p>
            </div>
            <div class="carousel-item green white-text" href="#three!">
                <h2>Check our brigades</h2>
                <p class="white-text">This is your third panel</p>
            </div>
        </div>

    </div>



</div>
